.navigation {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.navLinks {
  max-width: 50vw;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 5%;
}

.link {
  font-size: 1rem;
  margin: auto;
  justify-content: center;
}

.link a {
  text-decoration: none;
  color: #fff;
}

.logo{
  margin-left: 5%;
  font-size: 1.5rem;
}